<div class="col-md-2"></div>
<div class="comm-pages col-md-8">
	<h1>What is this?</h1>
	<p>
	Pick&Counter is your daily collection of dota 2 picks strategy; a community of players
	that loves to share and experiment about possible pick combinations of dota 2 heroes.
	</p>
	<p>
	Pick&Counter believes that Dota is a very complex game with countless of possiblities and excitement.
	Experimenting on even the worst hero combination might probably the next meta.
	</p>
	
	<h1>How to share, comment, upvote or even challenge a post?</h1>
	<p>* Share</p>
	<p>
	In its early stage we allow anonymous shares/posts, 
	but somehow as the users increases there is a need for us to somehow
	give ownership to each share so that we would be able to give back credits 
	to each post so for now we only require steam account for signing in users/contributors.
	</p>
	<p>* Steam Account</p>
	<p>We are using Steam OpenId Authentication API in our signin process. Only public data is what we have from you.</p>
	<p>* Comments</p>
	<p>
	As of now, anonymous users/guest are free to comment to any posts given.
	</p>
	<p>* Upvoting</p>
	<p>
	Upvoting a post is casting your karma points to that person's post.
	</p>
	<p>* Challenge</p>
	<p>
	Challenging a post is one way of helping early adapter of the game, it will show some set of possible 
	counters for that specific post. Challenges are considered as a post that will soon be countered by 
	a different set of picks.
	</p>
	<h1>Are there any guideline in sharing?</h1>
	<p>As simple as the following:</p>
	<p>heroes - your hero picks.</p>
	<p>notes - a short note on how to execute the picks combo ingame.</p>
	<h1>People behind this project</h1>
	<p>
	Pick&Counter is a side project maintained by a team of two developers
	json | parameterestimation, add us on steam if you want.
	</p>
	<p>
	Pick&Counter is in its early stage of development more and more features will come and hoping you guys will 
	be part of it. From time to time we are shipping fixes and some enhancements to the service.	
	</p>
	<p>
	Pick&Counter is currently under the sub domain of <a href="https://www.pythonanywhere.com">www.pythonanywhere.com</a> under a free/hacker account.
	</p>
	<p>
	We are a non profit application, that only aims to help and give back something useful to the community.
	</p>
	<p>
	If you have something in mind, please email us here <a href="mailto:api.serve@gmail.com">api.serve@gmail.com</a>
	</p>
	
	
</div>
<div class="col-md-2"></div>
