	{% verbatim %}
	<!-- Angular -->
	<!-- loop through post -->
	<div class="row"> <!-- ng -->
		
		<div data-ng-repeat="postinfo in postheader"> <!-- ng -->
			
			<div class="comm-content-wrapp" >
				
				<ul class="comm-clist-wrapp">
					<li class="clearfix col-md-12">
						<h1 class="pull-left">{{ postinfo.date }}</h1> 
						<div class="comm-avt pull-right">&nbsp;</div>
					</li>
					<li class="clearfix col-md-12">
						<div class="col-md-12">
							<span class="comm-prtr pull-left">
								<!-- loop through pics -->
								<div data-ng-repeat="postpic in  postinfo.pic" class="{{ postpic.css }} pull-left" title="{{ postpic.hero }}" > <!-- ng -->
								</div>
							</span>
							<span class="comm-desc pull-left">
								<div class="clearfix">
									<small data-ng-repeat="tag in  postinfo.tags"> <a href="#" class="comm-post-tags">{{ tag.tags }}</a> </small> <!-- ng -->	
								</div>
								<div class="clearfix">
									<span class="comm-post-notes">{{ postinfo.note }}</span>
								</div>
							</span>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="comm-content-wrapp">
				<ul class="comm-clist-wrapp">
					<li class="clearfix col-md-12"><h1>{{ postcommentscount }} comments</h1></li>
					<li class="clearfix" data-ng-repeat="comments in postcomments"> <!-- ng -->
						<div class="col-md-12">
							<div class="comm-avt pull-left">&nbsp;</div>
							<span class="pull-left">&nbsp;&nbsp;&nbsp;</span>
							<div class="comm-desc pull-left">
								<span class="comm-post-notes">{{ comments.note }}</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
		</div>
		
	</div>

	
	<div class="comm-select-wrapp">
		<form id="comm-posts-form" role="form">
			<div class="form-group">
				<h1>Write a comment</h1>
				<input type="hidden" name="posts" class="form-control" ng-model="formData.posts">
				<textarea rows="3" class="form-control" name="notes" id="notes" ng-model="formData.note"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-sm" ng-click="loadApiCommentsSubmit()">submit comment</button>
			</div>
		</form>
	</div>

	{% endverbatim %}
