{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "service/libraries/jquery/jquery-2.0.0.min.js" %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "service/libraries/bootstrap/js/bootstrap.min.js"%} "></script>

<!-- Plugins -->
<script src="{% static "service/libraries/plugins/jquery.lazyload.min.js"%} "></script>

<!-- Heroes Framework -->
<link href="{% static "service/media/_src/_d2/heroes-css-framework.css" %}" rel="stylesheet">

<script src="{% static "service/libraries/angularjs/angular.js" %}"></script>
<script src="{% static "service/libraries/angularjs/angular-route.js" %}"></script>
<script src="{% static "service/libraries/angularjs/angular-ui-router.min.js" %}"></script>
	<!-- Angular Codes -->
	<script src="{% static "service/static/ng/ng-Modules.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Routes.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Factories.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Posts.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Comments.js" %}"></script>


<script>
	//#! post image lazy
	$('.comm-posts-img-lazy').lazyload({
	    effect : "fadeIn",
	    threshold : 5
	});

	//#! modal post/comments
	$('.comm-open-modal-share').on('click', function(){
		$('.comm-modal-wrpp').show();	
		$('.comm-selection-img-lazy').lazyload({
		    effect : "fadeIn",
		    threshold : 5
		});
	});
	
	$('.comm-side-modal-wrpp-close').on('click', function(){
		$('.comm-modal-wrpp').hide();
		$('.comm-modal-wrpp-comments').hide();	
		resetAll();
	});
	

	$('.comm-open-modal-comments').on('click', function(){
		$('.comm-modal-wrpp-comments').show();	
		$('.comm-comments-img-lazy').lazyload({
		    effect : "fadeIn",
		    threshold : 5
		});
	});
	
	
	//#! menu selection
	$('.comm-prtr-selection-menu').on('click', function(event){
		//#! check if selected
		var allclss = '.comm-prtr-selection-menu';
		var clss =  'comm-prtr-selection-menu-selected';
		$(allclss).removeClass(clss);
		$(this).addClass(clss);
	});
	$('.comm-trgr-selection-menu').on('click', function(){
		var data = $(this).attr('data');
		var json = jQuery.parseJSON(data);
		$('.comm-selection-wrapp').hide();
		$(json.target).show();
	});
	
	//#! reset
	function resetAll(){
		//#! pick type button
		$('.comm-pick-type').removeClass('btn-success');
		$('.comm-pick-type-default').addClass('btn-success');

		//#! hero checkboxes and images
		$('.comm-prtr-selection-btn').removeClass('comm-prtr-selected');
		$('.comm-hero-checkboxes').prop('checked', false);
		//#! pick limit count
		$('.comm-pick-remain').html(5);
		//#! pick type tagging
		$('.comm-lane-checkboxes').prop('checked', false);
		$('.comm-lane-checkboxes-default').prop('checked', true);
	}
	
	//#! pick type selection
	$('.comm-pick-type').on('click', function(){
		resetAll();
		var limit = $('#comm-pick-limit').val($(this).attr('data'));
		$('.comm-pick-type').removeClass('btn-success');
		$(this).addClass('btn-success');
		$('.comm-pick-remain').html($(this).attr('data'));
		
		//#! pick type tagging
		lanetag = $(this).attr('data');
		$('.comm-lane-checkboxes').prop('checked', false);		
		$('#lane-'+lanetag).prop('checked', true);		
		
	});

	//#! hero selection
	$('.comm-prtr-selection-btn').on('click', function(){
		//#! check if selected
		var clss =  'comm-prtr-selected';
		var data = $(this).attr('data');
		var json = jQuery.parseJSON(data);
		var limit = $('#comm-pick-limit');
		var limitValue = limit.val();

		if($(this).hasClass(clss)){
			$(this).removeClass(clss);
			$(json.target).prop('checked', false);
			limit.val( parseInt(limit.val()) + 1);
			$('.comm-pick-remain').html(limit.val());
		}else{
			//#! check if zero
			if (limitValue > 0) {
				$(this).addClass(clss);
				$(json.target).prop('checked', true);
				limit.val(limit.val() - 1);
				$('.comm-pick-remain').html(limit.val());	
			}
		}
		
	});
	
	
	$( "#comm-posts-form" ).submit(function( event ) {
		return true;
	});		
	$( "#comm-posts-form-submit-btn" ).click(function() {
	  $( "#comm-posts-form" ).submit();
	});		
</script>
