{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "service/libraries/jquery/jquery-2.0.0.min.js" %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "service/libraries/bootstrap/js/bootstrap.min.js"%} "></script>

<!-- Plugins -->
<script src="{% static "service/libraries/plugins/jquery.lazyload.min.js"%} "></script>

<!-- Heroes Framework -->
<link href="{% static "service/media/_src/_d2/heroes-css-framework.css" %}" rel="stylesheet">

<script src="{% static "service/libraries/angularjs/angular.js" %}"></script>
<script src="{% static "service/libraries/angularjs/angular-route.js" %}"></script>
<script src="{% static "service/libraries/angularjs/angular-ui-router.min.js" %}"></script>
	<!-- Angular Codes -->
	<script src="{% static "service/static/ng/ng-Modules.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Routes.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Factories.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Directives.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Posts.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Comments.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Challenge.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Search.js" %}"></script>
	<script src="{% static "service/static/ng/ng-Author.js" %}"></script>


<script>
	
	//#! modal post/comments
	$('.comm-open-modal-share').on('click', function(){

			$('#comm-modal-posts').fadeIn('fast').show();	
			$('.comm-preload-img-lazy').lazyload({
			    effect : "fadeIn",
			    threshold : 3
			});

			// check if login user
			//iflogin = $('#comm-auth-verification').attr('data');
			//if(iflogin == '0'){
				
			//	$('#comm-modal-signin').fadeIn('fast').show();	
			//	$('#comm-modal-signin').on('click', function(){
			//		$(this).hide();	
			//	});
													
			//}else{

			//	$('#comm-modal-posts').fadeIn('fast').show();	
			//	$('.comm-preload-img-lazy').lazyload({
			//	    effect : "fadeIn",
			//	    threshold : 3
			//	});
			
			//}

		
	});
	$('#comm-posts-form-submit-btn-cancel').on('click', function(){
		$('#comm-modal-posts').fadeOut();	
	});
	
	$('.comm-side-modal-wrpp-close').on('click', function(){
		$('.comm-modal-wrpp').hide();
		$('.comm-modal-wrpp-comments').hide();	
		resetAll();
	});
	

	$('.comm-open-modal-comments').on('click', function(){
		$('.comm-modal-wrpp-comments').show();	
	});
	
	//#! reset
	function resetAll(){
		//#! hero checkboxes and images
		$('.comm-prtr-selection-btn').removeClass('comm-prtr-selected');
		$('.comm-hero-checkboxes').prop('checked', false);
		//#! pick limit count
		$('.comm-pick-remain').html(5);
		$('#comm-posts-form-submit-btn').hide();
		//#! show all hidden hero in counter picking
		$('.comm-prtr-selection-btn').show();		
	}
	
	//#! hero selection
	$('#comm-posts-form-note-btn').on('click', function(){
		$('#comm-selection-desc').fadeIn('fast').show();
		$('#comm-posts-form-submit-btn').hide();
		$('#comm-posts-form-note-btn').hide();
	});
	$('#comm-posts-form-note-btn-cancel').on('click',function(){
		$('#comm-selection-desc').fadeOut('fast');
		$('#comm-posts-form-submit-btn').show();
		$('#comm-posts-form-note-btn').show();
	});
	$('#comm-posts-form-note-btn').hide();
	$('#comm-posts-form-submit-btn').hide();
	$('.comm-prtr-selection-btn').on('click', function(){
		//#! check if selected
		var clss =  'comm-prtr-selected';
		var data = $(this).attr('data');
		var json = jQuery.parseJSON(data);
		var limit = $('#comm-pick-remain');
		var limitValue = limit.val();
		
		var isvisiblenote = $('#comm-selection-desc').is(":visible");
		if (isvisiblenote == false) {

			if($(this).hasClass(clss)){
				$(this).removeClass(clss);
				$(json.target).prop('checked', false);
				limit.html( parseInt(limit.html()) + 1);
	
				if ( parseInt(limit.html()) == 5 ) {
					$('#comm-posts-form-note-btn').hide();
					$('#comm-posts-form-submit-btn').hide();
				}
				if ( parseInt(limit.html()) < 5 ) {
					$('#comm-posts-form-submit-btn').show();
				}
	
			}else{
				//#! check if zero
				if ( parseInt(limit.html()) > 0) {
					$(this).addClass(clss);
					$(json.target).prop('checked', true);
					limit.html( parseInt(limit.html()) - 1);
					$('#comm-posts-form-note-btn').show();
				}
				if ( parseInt(limit.html()) < 5) {
					$('#comm-posts-form-submit-btn').show();
				}
			}
			
		}
		
	});
	
	
	$( "#comm-posts-form" ).submit(function( event ) {
		return true;
	});		
	$( "#comm-posts-form-submit-btn" ).click(function() {
	  $( "#comm-posts-form" ).submit();
	});		
	
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50736671-1', 'pythonanywhere.com');
  ga('send', 'pageview');
</script>
