{% load staticfiles %}

<!DOCTYPE >
<html data-ng-app="demoApp">

	{% include '_base/header.html' %}
	
	<body>

		<header class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<button class="btn btn-primary btn-sm navbar-btn comm-open-modal-share"><b>SHARE A HERO PICK STRATEGY</b></button>
			</div>
		</header>
		
		<!-- #! Container -->
		<section class="container">
			
			<!-- #! list -->
			{% block 'comm_lists' %}
			{% endblock 'comm_lists' %}

			<!-- #! Modal Post -->
			<section class="comm-modal-wrpp comm-hide-me">
				<div class="comm-side-modal-wrpp-close">&nbsp;</div>
				<div class="comm-side-modal-wrpp">
					{% include '_inner/post.html' %}
				</div>
			</section>

			<!-- Angular Placeholder -->
			<div ui-view="viewPosts">&nbsp;</div>


		</section>
		
	</body>
	
	{% include '_base/footer.html' %}

</html>