{% load staticfiles %}

<!DOCTYPE >
<html data-ng-app="demoApp">
	
	{% include '_base/header.html' %}
	
	<body id="comm-auth-verification" data="{{ AuthData.player.steamid }}">

		<header class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				
				<a class="navbar-brand" href="#">
					<b>PICK&COUNTER</b>
				</a>					
				
				<button class="btn btn-primary btn-sm navbar-btn comm-open-modal-share pull-left"><b>SHARE A PICK</b></button>
				
				<a href="{% url 'doc_d2_home_api' %}" class="btn btn-link btn-sm navbar-btn pull-right"><b>API</b></a>
				<a href="{% url 'doc_d2_home_css' %}" class="btn btn-link btn-sm navbar-btn pull-right"><b>CSS</b></a>

				{% if AuthData.player.steamid == '0' %} <!-- if anonymous -->
					<a href="{% url 'social:begin' 'steam' %}" class="btn btn-success btn-sm navbar-btn comm-open-modal-share pull-right"><b>Sign in through STEAM</b></a>
				{% else %}
					<p class="navbar-text navbar-right">
						<small>Hi!</small>
						<small><b>{{ AuthData.player.personaname }}</b> ({{ AuthKarma }})</small>
						<small>|</small>
						<small>
							<a href="{% url 'comm_logout' %}">Logout</a>
						</small>
					</p>
				{% endif %}
				
			</div>
		</header>
		
		<!-- #! Container -->
		<section class="container">
			
			<!-- #! list -->
			{% block 'comm_lists' %}
			{% endblock 'comm_lists' %}

			<!-- #! Modal Posts -->
			<div id="comm-modal-posts" class="comm-overlay-body-wrpp comm-overlay-promt comm-hide-me">
				<div class="comm-overlay-posts-modal">
					{% include '_inner/post-exp.html' %}
				</div>
			</div>	

			<!-- #! Modal Promts -->
			<div id="comm-modal-signin" class="comm-overlay-body-wrpp comm-overlay-promt comm-hide-me">
				<div class="comm-overlay-promts-modal">
					<h1><b>Hey there! Please sign in to upvote. :)</b></h1>
					<br/>
					<a href="{% url 'social:begin' 'steam' %}">
						<img src="{% static "service/media/_src/_d2/sits_small.png"%}" />
					</a>
				</div>
			</div>	
			
			<!-- Angular Placeholder -->
			<div ui-view="viewPosts">&nbsp;</div>
			<div ui-view="viewSearch">&nbsp;</div>


		</section>
		
	</body>
	
	{% include '_base/footer.html' %}

</html>