<div class="row comm-select-wrapp">
	
	<div class="col-md-12">
		<h1>Share a hero pick strategy.</h1>
	</div>
	
	<div class="clearfix"><hr/></div>
	
	<div class="col-md-12">
		<div class="col-md-3">
			<h1>
				<b>1st</b> &nbsp; Select pick type. (<span><b class="comm-pick-remain">5</b> heroes</span>)
			</h1>
			<div data='{"target":"#comm-selection-pick"}' class="comm-prtr-selection-menu comm-trgr-selection-menu ">
				<span class="glyphicon glyphicon-th"></span>
			</div>
		</div>
		<div class="col-md-3">
			<h1><b>2nd</b> &nbsp; Select heroes.</h1>
			<div data='{"target":"#comm-selection-heroes"}' class="comm-prtr-selection-menu comm-trgr-selection-menu comm-prtr-selection-menu-selected">
				<span class="glyphicon glyphicon-th"></span>
			</div>
		</div>
		<div class="col-md-3">
			<h1><b>3rd</b> &nbsp; Write a short note.</h1>
			<div data='{"target":"#comm-selection-desc"}' class="comm-prtr-selection-menu comm-trgr-selection-menu">
				<span class="glyphicon glyphicon-file"></span>
			</div>
		</div>
		<div class="col-md-3">
			<h1><b>4th</b> &nbsp; Submit entry.</h1>
			<div class="clearfix">
				<button id="comm-posts-form-submit-btn" class="btn btn-primary btn-sm col-md-12">SUBMIT</button>
			</div>
		</div>
	</div>
	
	<div class="clearfix"><hr/></div>
	
	<div class="col-md-12">

		<!-- #! notes creation -->
		<div id="comm-selection-desc" class="col-md-12 comm-selection-wrapp comm-hide-me">
				<div class="col-md-12">
	
					<form id="comm-posts-form" role="form" action="{% url 'comm_posts_add' %}" method="post">
					  	{% csrf_token %}
						
						<!-- counter picking : countered post id -->
						<input class="comm-hide-me" type="text" id="postid" name="postid" />
						
						<!-- pick types -->
						<input class="comm-hide-me comm-lane-checkboxes comm-lane-checkboxes-default" checked="checked"  type="checkbox" id="lane-5" name="lanes" value="Combo">
						<input class="comm-hide-me comm-lane-checkboxes"  type="checkbox" id="lane-3" name="lanes" value="Trilane">
						<input class="comm-hide-me comm-lane-checkboxes"  type="checkbox" id="lane-2" name="lanes" value="Duallane">
						<input class="comm-hide-me comm-lane-checkboxes"  type="checkbox" id="lane-1" name="lanes" value="Offlane">
						
						<!-- heroes -->
						{% for h in hall %}
						<input class="comm-hide-me comm-hero-checkboxes"  type="checkbox" id="{{ h.hero }}" name="heroes" value="{{ h.hero }}">
						{% endfor %}

						<div class="form-group">
						<h1>NOTE</h1>
						<textarea rows="5" class="form-control" name="notes" id="notes"></textarea>
						</div>
					</form>
	
				</div>
		</div>
		
		
		<!-- #! hero selections -->
		<div id="comm-selection-heroes" class="col-md-12 comm-selection-wrapp">

			<div class="col-md-4">
				<h1>STRENGTH</h1>
				<div class="comm-prtr-select">
					{% for h in hstr %}
					<img data='{"target":"#{{ h.info.name }}"}' id="comm-hero-pick-{{ h.info.name }}" title="{{ h.info.name }}" class="comm-selection-img-lazy comm-prtr-selection-btn" data-original="{{ h.avatar.ssm }}	" width="{{ h.psizes.ssm.w }}" height="{{ h.psizes.ssm.h }}" />
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4">
				<h1>AGILITY</h1>
				<div class="comm-prtr-select">
					{% for h in hagi %}
					<img data='{"target":"#{{ h.info.name }}"}' id="comm-hero-pick-{{ h.info.name }}" title="{{ h.info.name }}" class="comm-selection-img-lazy comm-prtr-selection-btn" data-original="{{ h.avatar.ssm }}	" width="{{ h.psizes.ssm.w }}" height="{{ h.psizes.ssm.h }}" />
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4">
				<h1>INTELLIGENCE</h1>
				<div class="comm-prtr-select">
					{% for h in hint %}
					<img data='{"target":"#{{ h.info.name }}"}' id="comm-hero-pick-{{ h.info.name }}" title="{{ h.info.name }}" class="comm-selection-img-lazy comm-prtr-selection-btn" data-original="{{ h.avatar.ssm }}	" width="{{ h.psizes.ssm.w }}" height="{{ h.psizes.ssm.h }}" />
					{% endfor %}
				</div>
			</div>
		</div>

		<!-- #! pick type selection -->
		<div id="comm-selection-pick" class="col-md-12 comm-selection-wrapp comm-hide-me">
			<input value="5" type="hidden" id="comm-pick-limit" />
			<div class="col-md-12">
				<div class="col-md-3">
					<button class="comm-pick-type comm-pick-type-default btn btn-lg btn-success col-md-12" data="5">5 Hero Combo</button></span>
				</div>
				<div class="col-md-3">
					<button class="comm-pick-type btn btn-lg col-md-12" data="3">Tri Lane</button>
				</div>
				<div class="col-md-3">
					<button class="comm-pick-type btn btn-lg col-md-12" data="2">Dual Lane</button>
				</div>
				<div class="col-md-3">
					<button class="comm-pick-type btn btn-lg col-md-12" data="1">Off Lane</button>
				</div>
			</div>
		</div>
		

		
	</div>
	
</div>		
